{{! The following component displays Ember's default welcome message. }}
{{! <WelcomePage /> }}
{{! Feel free to remove this! }}

{{! center a div}}
{{! <div class="container">
</div> }}
<HeaderFooter>
  {{outlet}}
</HeaderFooter>