{{page-title "Clark Coding Challenge"}}


   <div class="thank-you-msg-wrapper d-flex align-items-center justify-content-center flex-column">
            <i class="fa-solid fa-circle-check"></i>
            <p class="thank-you-msg-text">Welcome to Questionaire Web App</p>
            <LinkTo @route="question" class="thank-you-btn btn btn-light" type="button">Start</LinkTo>
        </div>
{{outlet}}
