{{page-title "Question"}}


        <div class="page-content container-xl d-flex flex-column justify-content-between">
        <div class="item-wrapper">
             <div class="question-wrapper d-flex align-items-start align-items-lg-center">
                <span class="question-number">a-&#32;</span>
                <span class="question-stem-text">Before we start, can we get your first name?</span>
            </div>

            <div class="answer-wrapper">
                {{!-- template-lint-disable require-input-label --}}
                <textarea class="" placeholder="Type your answer here..."></textarea>

            </div>

            <div class="d-flex justify-content-end">
                <button class="submit-btn btn btn-light" type="button">Submit</button>
            </div>

        </div>

        <div class="item-actions d-flex justify-content-between align-items-end">
            <button class="next-btn btn btn-danger" type="button">
                <i class="fa-solid fa-chevron-left mr-1"></i>
                <span>Previous</span>
            </button>
            <button class="prev-btn btn btn-success" type="button">
                <span>Next</span>
                <i class="fa-solid fa-chevron-right ml-1"></i>
            </button>
        </div>



    </div>

